<!--{% load staticfiles %} -->
<!-- when is above tag required i think it used if we use external css -->
<html>
    <head>
        <title>Guest Book App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>